.flip-container{
    overflow: hidden;
    padding: 0;
    margin: 5px 0;
}

.flip{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
}

.flip-segment{
    display: inline-block;
    padding: 10px 10px;
    text-align: left;
    width: 50%;
}